apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: assetstore-pv-claim
spec:
  # Using NFS storage for assets - good for large files and potential multi-pod access
  storageClassName: nfs-csi
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
