apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dspace-logs-pv-claim
spec:
  # Using NFS storage for logs - good for multi-pod access and log aggregation
  storageClassName: nfs-csi
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
